body {
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #ADD7F6;
}



@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1 {
  background-color: rgba(256,256,256,.03);
  font-size: 3em;
  font-family: 'Amethysta', serif;
  text-align: center;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: .3em;
  white-space:nowrap;
}

p {
  font-size: 1.5em;
}

span {
  color: #000;
  font-family:'Times New Roman', Times, serif;
  font-size: 2em;
  vertical-align: middle;
  letter-spacing: .2em;
}

.fire {
  animation: animation 1s ease-in-out infinite alternate;
  -moz-animation: animation 1s ease-in-out infinite alternate;
  -webkit-animation: animation 1s ease-in-out infinite alternate;
  -o-animation: animation 1s ease-in-out infinite alternate;
}

.burn {
  animation: animation .65s ease-in-out infinite alternate;
  -moz-animation: animation .65s ease-in-out infinite alternate;
  -webkit-animation: animation .65s ease-in-out infinite alternate;
  -o-animation: animation .65s ease-in-out infinite alternate;
}

@keyframes animation
{
  0% {text-shadow: 0 0 20px #f2f7fb,
    10px -10px 30px #e2edf4,
    -20px -20px 40px #aecef2,
    20px -40px 50px #94b4d9,
    -20px -60px 60px #3366ad,
    0 -80px 70px #123587,
    10px -90px 80px #271893;}
  100% {text-shadow: 0 0 20px #f2f7fb,
    10px -10px 30px #e2edf4,
    -20px -20px 40px #aecef2,
    20px -40px 50px #94b4d9,
    -20px -60px 60px #3366ad,
    0 -80px 70px #123587,
    10px -90px 80px #271893;}
  }

@-moz-keyframes animation
{
  0% {text-shadow: 0 0 20px #f2f7fb,
    10px -10px 30px #e2edf4,
    -20px -20px 40px #aecef2,
    20px -40px 50px #94b4d9,
    -20px -60px 60px #3366ad,
    0 -80px 70px #123587,
    10px -90px 80px #271893;}
  100% {text-shadow: 0 0 20px #f2f7fb,
    10px -10px 30px #e2edf4,
    -20px -20px 40px #aecef2,
    20px -40px 50px #94b4d9,
    -20px -60px 60px #3366ad,
    0 -80px 70px #123587,
    10px -90px 80px #271893;}
  }

@-webkit-keyframes animation
{
  0% {text-shadow: 0 0 20px #f2f7fb,
    10px -10px 30px #e2edf4,
    -20px -20px 40px #aecef2,
    20px -40px 50px #94b4d9,
    -20px -60px 60px #3366ad,
    0 -80px 70px #123587,
    10px -90px 80px #271893;}
  100% {text-shadow: 0 0 20px #f2f7fb,
    10px -10px 30px #e2edf4,
    -20px -20px 40px #aecef2,
    20px -40px 50px #94b4d9,
    -20px -60px 60px #3366ad,
    0 -80px 70px #123587,
    10px -90px 80px #271893;}
  }

@-o-keyframes animation
{
  0% {text-shadow: 0 0 20px #f2f7fb,
    10px -10px 30px #e2edf4,
    -20px -20px 40px #aecef2,
    20px -40px 50px #94b4d9,
    -20px -60px 60px #3366ad,
    0 -80px 70px #123587,
    10px -90px 80px #271893;}
  100% {text-shadow: 0 0 20px #f2f7fb,
    10px -10px 30px #e2edf4,
    -20px -20px 40px #aecef2,
    20px -40px 50px #94b4d9,
    -20px -60px 60px #3366ad,
    0 -80px 70px #123587,
    10px -90px 80px #271893;}
  }


.slideshow {
  position: relative;
}

.slide {
  display: none;
}

.symbol {
  height: 20px;
  width: 20px;
}

.section {
  position: relative;
  text-align: center;
  margin: 50px;
}

.memeImage {
  max-width: 50%;
  min-width: 50%;
  max-height: 75vh;
  min-height: 75vh;
  border-radius: 20px;
}

div img {
  max-width: 50%;
  max-height: 80vh;
  border-radius: 20px;
}

#get-image-btn {
  background-color: #123587;
  color: #ede7e3;
  padding: 15px 19px;
  font-size: 24px;
  font-weight: 500;
  border: #ede7e3;
  border-radius: 8px;
  margin-bottom: 50px;
  cursor: pointer;
  margin-top: 50px;
}

/* Slideshow */
/* Next & previous buttons */
#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
#next {
  right: 250px;
  border-radius: 3px 0 0 3px;
  position: static;
  display: inline;
}

#prev {
  left: 250px;
  border-radius: 3px 0 0 3px;
  position: static;
  display: inline;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal */
#meme-modal {
  display: none;
  position: fixed;
  margin: auto;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid #ede7e3;
  border-radius: 5px;
  width: 85%;
  height: 85%;
  background-color: #123587;
}

.meme-modal {
  min-width: 40vw;
  min-height: 40vh;
  border-radius: 5px;
}

#meme-modal-close-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 14px;
  cursor: pointer;
}

#meme-modal-close-btn:hover {
  color: white;
  background-color: #bd301d;
  border: 2px solid #bd301d;
}
.kata-caption {
  font-size: 2rem;
  margin-bottom: 20px;
}